{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--<div class="container-fluid" style="align-self:center;height:100vh;width:100vw;backgrop-filter:blur(10px);background-image: url('{% static '/images/boox-main.jpg' %}');background-position: center;background-repeat: no-repeat;background-size: cover;">-->
<div class="container-fluid">
<div class="row d-flex justify-content-center align-items-center h-100">
		 <div class="col-3 mx-auto card p-5 rounded-3 align-self-center flex-column">
			 <form action="" method="post">
				 {{ form.as_p }}
				 {% csrf_token %}
				 <div class="col text-center">
					 <button class="btn btn-primary px-5 center-align" type="submit">ВОЙТИ</button>
				 </div>
			 </form>
		 </div>
	 </div>

    </div>
{% endblock %}